/* JonahStrap v2.0.0 - css.jonahkc.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html {
  font-family: 'Nunito', sans-serif;
  background-color: #ff7d32;
  color: #000000;
}
body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
  line-height: 2;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  text-decoration: underline;
  color: #000000;
}
/* Placement */
.flex {
  display: flex;
}
.up {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content:center;
  align-items:center;
}
.textcenter {
  text-align:center;
}
/* Mobile */
@media screen and (max-width: 700px) {
  .flex {
    justify-content: center;
    align-items: center;
  }
  .section {
    padding: 20px;
  }
  .tile {
    width:100% !important;
    padding:10px 0 10px 0;
  }
}